<div  class="wrapper__content-every">
    <div class="wrapper__content-every" id="wrapperCover">
        <div class="cover">
            <div class="cover__img" id="blockImg">
                <img class="cover__img-picture" src="{{cover}}">
            </div>
        </div>
        <div id="fullNameJS" class="avatar">
            <div class="avatar__img" id="imgAvatarJS" style="background: url({{avatar}}) center center">
            </div>    
            <h2 id="fullNameJS">{{firstName}} {{lastName}}</h2>
        </div>
        <div class="description">
            <div class="description__part-one">
                <h5><i class="fa fa-globe" aria-hidden="true"></i>{{from}}<span>from</span></h5>
                <h5><i class="fa fa-address-book" aria-hidden="true"></i>{{nationality}}<span>nationality</span></h5>
                <h5><i class="fa fa-star" aria-hidden="true"></i>{{performance}}<span>performance</span></h5>
                <h5><i class="fa fa-birthday-cake" aria-hidden="true"></i>{{age}} years old<span>age</span></h5>
            </div>
            <div class="description__part">
                <h5><i class="fa fa-map-marker" aria-hidden="true"></i>Seoul, South Korea<span>now</span></h5>
                <h5><i class="fa fa-calendar" aria-hidden="true"></i>2012/01/01<span>ending</span></h5>
            </div>
            <div class="description__part">
                <h5><i class="fa fa-calendar-o" aria-hidden="true"></i>6 years (in band)<span>experience</span></h5>
                <h5><i class="fa fa-map-signs" aria-hidden="true"></i>Plaza, Malaysia<span>last place</span></h5>
            </div>
            <div class="description__part">
                <h5><i class="fa fa-envelope" aria-hidden="true"></i>{{email}}<span>mail</span></h5>
                <h5><span>phone</span><i class="fa fa-phone-square" aria-hidden="true"></i>+375291271857</h5>
            </div>
        </div>
        <div class="port">
            <h3>Portfolio</h3>
            <div class="port__wrapper">
                <div class="port__wrapper-part">
                    <img src="{{photo1}}">
                </div>
                <div class="port__wrapper-part">
                    <img src="{{photo2}}">
                </div>
                <div class="port__wrapper-part">
                    <img src="{{photo3}}">
                </div>
                <div class="port__wrapper-part">
                    <img src="{{photo4}}">
                </div>
            </div>
            <div class="port__video">
                <div class="port__video-back">
                    <iframe width="99%" height="550" src="{{video}}"></iframe>
                </div>
            </div>  
        </div>    
    </div>
</div> 